[submodule "transformatrix/roboy_de0_nano"]
	path = transformatrix/roboy_de0_nano
	url = https://github.com/Roboy/roboy_de0_nano
[submodule "speaker_diarization/pyAudioAnalysis/pyAudioAnalysis"]
	path = speaker_diarization/pyAudioAnalysis/pyAudioAnalysis
	url = https://github.com/tyiannak/pyAudioAnalysis
