[submodule "roboy_communication"]
	path = roboy_communication
	url = git@github.com:Roboy/roboy_communication.git
[submodule "roboy_audio"]
	path = roboy_audio
	url = git@github.com:Roboy/roboy_audio.git
[submodule "roboy_dialog"]
	path = roboy_dialog
	url = git@github.com:Roboy/roboy_dialog.git
[submodule "transformatrix/roboy_de0_nano"]
	path = transformatrix/roboy_de0_nano
	url = https://github.com/Roboy/roboy_de0_nano
